*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Forum", serif;
}
:root{
   --bg-color: #160d07;
   --text-color: #fffdee;
   --main-color: #ffa86a;
   --other-color: #d6d4c8;
   --alt-color: #ffffff4f;
   --second-color: #7d5537;

   --h1-font: 6rem;
   --h2-font: 3.5rem;
   --p-font: 1.1rem;
}
body{
    color: var(--text-color);
    background: linear-gradient(250.55deg, #120b07 0%, #311b0d 28.55%, #160d07 75.55%);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    padding: 28px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease-in-out;
}
.logo img{
    width: 100%;
    height: auto;
}
.navlinks a{
    display: inline-block;
    font-size: var(--p-font);
    color: var(--other-color);
    font-weight: 500;
    margin: 0 32px;
    transition: all .6s ease-in-out;
}
.navlinks a:hover{
    color: var(--main-color);
}
.nav-side{
    display: flex;
    align-items: center;
}
.n-btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid var(--second-color);
    color: var(--text-color);
    transition: all .50s ease-in-out;
}
.n-btn:hover{
    background: var(--main-color);
    border: 1px solid var(--main-color);
    color: var(--bg-color);
    transform: scale(1.1) translateY(-10px);
}
#menu-icon{
    font-size: 40px;
    z-index: 10001;
    cursor: pointer;
    margin-left: 40px;
    display: none;
}


/* hero */

section{
    padding: 90px 17% 80px;
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}
.home-img img{
    max-width: 100%;
    width: 400px;
    height: auto;
}
.home-text h1{
    font-size: var(--h1-font);
    font-weight: 500;
    margin: 22px 0;
}
.home-text h4{
    font-size: 30px;
    font-weight: 500;
    color: var(--main-color);
}
.home-text p{
    font-size: var(--p-font);
    font-weight: 400;
    line-height: 32px;
}
.social{
    position: absolute;
    top: 50%;
    padding: 0 8%;
    transform: translateY(-50%);
}
.social i{
    display: block;
    color: var(--text-color);
    margin: 28px 0;
    font-size: 22px;
    transition: all .50s ease-in-out;
}
.social i:hover{
    transform: scale(1.1) translateY(-10px);
    color: var(--main-color);
}
.arrow-box{
    position: absolute;
    bottom: 12%;
    right: 35%;
}
.arrow-box i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 1px solid transparent;
    border-radius: 50%;
    font-size: 35px;
    transition: all .50s ease-in-out;
}
.arrow-box i:hover{
    background: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    transform: scale(1.1);
}

header.sticky{
    padding: 15px 8%;
    background: linear-gradient(250.55deg, #120b07 0%, #311b0d 28.55%, #160d07 75.55%);
}

/* about section */

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}
.about-img img{
    max-width: 400px;
    width: 100%;
    height: auto;
}
.about-text h2{
    font-size: var(--h2-font);
    font-weight: 500;
    margin-bottom: 20px;
}
.about-text p{
    font-size: var(--p-font);
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 800;
    background: var(--main-color);
    color: var(--bg-color);
    border: 1px solid var(--main-color);
    transition: all .50s ease-in-out;
}
.btn:hover{
    background: transparent;
    border: 1px solid var(--second-color);
    color: var(--text-color);
    transform: scale(1.1);
    letter-spacing: 2px;
}

/* shop section */

.head-text{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}
.head-left h4{
    font-size: var(--h2-font);
    font-weight: 600;
}
.head-right h4{
    font-size: 25px;
    font-weight: 800;
}
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 4rem;
}
.box-img img{
    max-width: 200px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .50s ease-in-out;
}

.box{
    position: relative;
    background: linear-gradient(rgba(255, 168, 106, .35) 0%, rgba(3,3,3, .77) 64%, rgba(3,3,3) 100%);
    padding: 40px 60px;
    border: 1px solid #352317;
    border-radius: .8rem;
}
.box h3{
    font-size: 35px;
    font-weight: 600;
    margin: 12px 0;
}
.box h5{
    font-size: 14px;
    color: var(--other-color);
    font-weight: 600;
}
.cart i{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    background: var(--main-color);
    color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 0px .8rem 0px 0px;
}
.box:hover img{
    transform: scale(1.1) translateY(-10px);
    cursor: pointer;
}

/* exibition section */

.exb-content{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}
.exb-img img{
    max-width: 400px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: .8rem;
}
.exb-text{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;
}
.row:not(:last-child){
    border-bottom: 1px solid var(--main-color);
    border-width: 40%;
    padding-bottom: 30px;
    cursor: pointer;
}
.row h5{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 7px;
    transition: all .50s ease-in-out;
}
.row a{
    color: var(--main-color);
    font-size: var(--p-font);
    font-weight: 500;
}
.row:hover h5{
    color: var(--main-color);
}

/* contact section */

.contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.contact-content h2{
    font-weight: 500;
    font-size: var(--h2-font);
    margin-bottom: 40px;
}
.contact-content hr{
    width: 15.3333%;
    border: 1px solid var(--main-color);
    margin-bottom: 50px;
    cursor: pointer;
    transition: all .50s ease-in-out;
}
.contact-content:hover hr{
    width: 30.3333%;
}
.contact-content p{
    color: var(--other-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin-bottom: 40px;
    letter-spacing: 5px;
}
.s-links a{
    display: inline-block;
    padding: 12px 35px;
    font-size: 14px;
    font-weight: 500;
    color: var(--main-color);
    border: 1px solid var(--second-color);
    border-radius: 2px;
    margin: 0 10px;
    letter-spacing: 2px;
    transition: all .50s ease-in-out;
}
.s-links a:hover{
    background: var(--main-color);
    color: var(--bg-color);
}

.footer{
    padding: 20px 14%;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.copyright a{
    color: var(--other-color);
    font-size: 15px;
    font-weight: 500;
}
.scroll-btnn i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 50%;
    font-size: 22px;
}

@media(max-width: 1880px){
    header{
        padding: 20px 4%;
    }
    .social{
        padding: 0 4%;
    }
    .arrow-box{
        bottom: 15%;
        right: 30%;
    }
    section{
        padding: 80px 13% 70px;
    }
    header.sticky{
        padding: 13px 4%;
    }
    .footer{
        padding: 15px 4%;
    }
}

@media(max-width: 1670){
    :root{
        --h1-font: 5rem;
        --h2-font: 4rem;
        --p-font: 1rem;
    }
}

@media(max-width: 1460px){
    header{
        padding: 20px 2%;
    }
    .social{
        padding: 0 2%;
    }
    section{
        padding: 80px 10% 70px;
    }
    header.sticky{
        padding: 13px 2%;
    }
    .footer{
        padding: 10px 4%;
    }
}

@media(max-width: 1350px){
    .social{
        display: none;
    }
    section{
        padding: 80px 5% 70px;
    }
}

@media(max-width: 1200px){
    .home{
        height: 90vh;
    }
    :root{
        --h1-font: 3.5rem;
        --h2-font: 2.5rem;
    }
    .home-img img{
        max-width: 400px;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .about-img img{
        max-width: 400px;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .arrow-box{
        bottom: 20%;
        right: 30%;
    }
    .arrow-box i{
        height: 50px;
        width: 50px;
        font-size: 25px;
    }
}

@media(max-width: 1100px){
    .shop-content{
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
    .exb-content{
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .exb-img{
        margin: 0 auto;
        text-align: center;
        order: 2;
    }
    .row h5{
        font-size: 35px;
    }
}

@media(max-width: 960px){
    section{
        padding: 80px 2% 80px;
    }
    .footer{
        padding: 10px 2%;
    }
    .home-img img{
        max-width: 300px;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .about-img img{
        max-width: 300px;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    :root{
        --h1-font: 3.5rem;
        --h2-font: 2.5rem;
        --p-font: 15px;
    }
}

@media(max-width: 830px){
    .arrow-box{
        display: none;
    }
    .home{
        grid-template-columns: 1fr;
        height: 105vh;
    }
    .home-text{
        padding-top: 50px;
    }
    .home-img{
        text-align: center;
        margin: 0 auto;
    }
    .home-img img{
        max-width: 400px;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        order: 2;
        text-align: center;
        margin: 0 auto;
    }
    .home-img img{
        max-width: 400px;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    #menu-icon{
        display: block;
        margin-right: 50px;
    }
    .navlinks{
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        right: 0;
       
        padding: 70px 50px;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(50px);
        transition: all .50s ease-in-out;
    }
    .navlinks a{
        display: block;
        padding: 0;
        margin: 0px 0px 32px 0px;
        font-size: 1.8rem;
        font-weight: 500;
    }
    .navlinks.open{
        left: 0;
    }
}

@media(max-width:700px){
    section{
        padding: 70px 2%;
    }
    .contact-content{
        padding: 10px;
    }
    .s-links a{
        padding: 10px 18px;
        font-size: 13px;
        margin: 5px 4px;
    }
    .logo img{
        max-width: 30px;
    }
    .n-btn{
        padding: 10px 20px;
        font-size: 13px;
    }
     .exb-content .row h5{
        font-size: 20px;
        letter-spacing: 2px;
    }
}